apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-zfwjcdjf
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-zfwjcdjf:c88d75545dbf157e7ad75e5710f33521446762f9@sha256:14f924d5018fd67f490c470e4b7bb2895120de505685ff28d59051c8dfe7d502
        name: container-image  
